.chart-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.chart-card {
  width: 100%; /* Set the width to 100% */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 10px; /* Added margin */
}

.chart-card:hover {
  transform: translateY(-5px);
}

.my-chart {
  width: 100%;
  height: auto !important;
  max-height: 80%; /* Added max-height to ensure the chart fits within the card */
}

.chart-heading {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}
